elasticsearch:
  host: "elasticsearch-host"
  port: "elasticsearch-port"
  index: "elasticsearch-index"

s3:
  access_key_id: "access_key_id"
  secret_access_key: "secret_access_key"
  region: "region"
  bucket: "bucket-name"
  prefix: "prefix/folder path"